/* Start: All Application default Css */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Kanit", sans-serif;
    color: #545454;
}

main {
    /* background-image: url(../assets/images/body.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

a {
    text-decoration: none;
}

/* End: All Application default Css */

/* Start: Top Header Button Css */
.top-btn:hover {
    background-color: #ffc107;
    border: 1px solid #ffc107;
    transition: 0.2s ease-in-out;
}

.btn-2 {
    color: #023021;
    box-shadow: 1px 1px 10px #ffc107;
}

.btn-2:hover {
    background-color: #023021;
    border: 1px solid #023021;
    color: #ffc107;
    transition: 0.2s ease-in-out;
    box-shadow: 1px 1px 10px #023021;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #023021;
    transition: 0.1s ease-in-out;
}

.nav-link {
    color: #023021;
}

.cart {
    color: #023021;
    font-size: 20px;
    filter: drop-shadow(0px 0px 12px #023021);
}

.nav-link:hover {
    color: #023021;
    transition: 0.1s ease-in-out;
    filter: drop-shadow(0px 0px 12px #023021);
    border-bottom: 1px solid #023021;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* End: Top Header Button Css */

/* Start: Bannner Carousel Slider */
swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15%;
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
}

swiper-slide .subtitle {
    font-size: 21px;
}

swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
}


/* End: Bannner Carousel Slider */

/* START: Our Services */
.service-card {

    border-radius: 12px;
    transition: all 0.2s ease-in-out;
}

.service-card:hover {
    box-shadow: 0px 0px 14px 0px #ccc;
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}


/* END: Our Services */

.explore-card:hover {
    transition: 0.3s ease-in;
    box-shadow: 0px 0px 14px 0px #ccc;
}

.btn-3 {
    color: #023021;
    box-shadow: 1px 1px 10px #ffc107;
}

.btn-3:hover {
    background-color: #023021;
    border: 1px solid #023021;
    color: #ffc107;
    transition: 0.2s ease-in-out;
    box-shadow: 1px 1px 10px #023021;
}